@import url('https://fonts.googleapis.com/css2?family=Anton&family=Be+Vietnam+Pro&family=Lato:wght@700&family=Lobster&family=Oswald:wght@700&family=Poppins:wght@300;500;700&display=swap');
body{
    font-family: 'Anton', sans-serif;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Lobster', cursive;
    font-family: 'Oswald', sans-serif;
    font-family: 'Poppins', sans-serif;
}
.header-title{

    padding-left: 100px;
}

/* start Header Part  */
header{
    display: flex;
    

}
.text-area{
    width: 50%;
    margin-top: 50px;
    padding-left: 100px;
}
header div h2{
    font-size: 52px;
    margin-bottom: 0;
}
.text-area p{
    margin-top: 13px;
    margin-bottom: 35px;
}
.image-area{
    width: 50%;
    display: flex;
    justify-content: center;
}
.image-area img{
    width: 60%;
}
.booking-button a{
    text-decoration: none;
    color: #FFFFFF;
    padding: 10px 24px;
    width: 150.71px;
    color: #FFFFFF;
    background-color: #E02C6D;
    border-radius: 41px;
    font-size: 16px;
}
.booking-button .fas{
    color: #FFFFFF;
}

/* End Header Part  */
/* Start Middle Part  */

.section-title{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
}
.grid-container{
    width: 85%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
    padding-left: 105px;
}
.grid-cell-container{
    width: 329px;
    height: 476px;
    background:  #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}
.product-img{
    margin: 16px;
}
.product-details{
    margin-left: 17px;
}
.product-name{
    font-size: 28px;
    margin: 0;
    font-weight: 500;
}
.product-price{
    font-size: 24px;
    margin-top: 3px;
    margin-bottom: 5px;
}
.rating{
    margin: 0;
}
.fas{
    font-size: 10px;
    color: orange;
}
.point-rating{
    font-size: 12px;
    color: #5E6366;
    padding-left: 8px;
}
.shifting-info{
    margin-top: 0;
}
.shifting{
    margin: 0;
    color: #5E6366;
    font-size: 13px;
    font-weight: 700;
    font-family: Inter;
}
.more-info a, .fa-arrow-right{
    text-decoration: none;
    color: #E02C6D;
    font-weight: 700;
}
.more-info{
    display: flex;
    justify-content: end;
    margin: 40px 165px;
}

/* End Middle Part  */

/* Start Extra Part  */
.extra-part{
    width: 50%;
    margin: 0 auto;
    background-color: #E02C6D;
    border-radius: 10px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.25);
}
.extra-part-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
}
.img-side{
    width: 60%;
    margin-right: 0;
    padding: 0;
}
.img-side img{
    width: 70%;
    margin-left: 120px;
}
.our-info{
    width: 80%;
    padding-top: 0;
}
.our-info h2{
    margin: 0;
}
.our-info p{
    margin-top: 0;
    padding-right: 20px;
    padding-left: 0;
    padding-top: 0;
}

/* End Extra Part  */
/* Start Footer  */

footer{
    width: 85%;
    margin: 0 auto;
    background-color: black;
    margin-bottom: 20px;
    text-align: center;
}
footer div{
    color: whitesmoke;
    padding-bottom: 40px;
}
footer h3{
    color: white;
    padding-top: 50px;
    padding-bottom: 5px;
    margin-bottom: 0;
}
footer p{
    padding-bottom: 5px;
    margin: 0;
}
.fab{
    color: whitesmoke;
}
.media-padding{
    margin-right: 20px;
}
